:root {
  --primary-color: #74E0AA;
  --secondary-color: #FCFEB1;
  --label-bg-color: #BEE893;
  --checkbox-color: #C4D9A9;
}


.App {
  background-color: var(--secondary-color);
  padding-top: 20px;
  height: 100vh;
}

.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px 30px;
  font-size: 30px;
  font-weight: 600;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-container .card {
  margin: 5px;
  max-width: 250px;
}

.card-container .card-footer {
  border: none;
  background-color: #fff;
}

.App .nav-link {
  color: var(--primary-color);
  font-weight: 600;
}

.card-container .text-bg-info {
  background-color: var(--primary-color) !important;
}

.card-container .form-check-input:checked {
  background-color: var(--checkbox-color);
  border-color: var(--checkbox-color);
}